In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [ ]:
response = requests.get(url="https://en.wikipedia.org/wiki/Community_areas_in_Chicago")

soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
title =  soup.find(id = "firstHeading")
print(title.string)

In [ ]:
print(soup.prettify())

In [ ]:
soup.find_all("table")

In [ ]:
for table in soup.find_all("table"):
    print(table.get("class"))

In [ ]:
table = soup.find("table", class_ ="wikitable sortable plainrowheaders mw-datatable")
table

In [ ]:
for row in table.tbody.find_all("tr")[2: -1]:
    print (row)
    print ("-" * 100)

In [ ]:
for row in table.tbody.find_all("tr")[2: -1]:
    cells = row.find_all("td")
    print (cells)

In [ ]:
for row in table.tbody.find_all("tr")[2: -1]:
    cells = row.find_all("td")
    print (cells[0].get_text(strip = True))

In [25]:
data = []

for row in table.tbody.find_all("tr")[2: -1]:
    cells = row.find_all("td")
    header_cell = row.find("th")

    area_code = cells[0].get_text(strip = True)
    community_name = header_cell.a.get_text(strip = True)
    #print (area_code, community_name)

    data.append ({"area_code": area_code, "community_name": community_name})

data

[{'area_code': '01', 'community_name': 'Rogers Park'},
 {'area_code': '02', 'community_name': 'West Ridge'},
 {'area_code': '03', 'community_name': 'Uptown'},
 {'area_code': '04', 'community_name': 'Lincoln Square'},
 {'area_code': '05', 'community_name': 'North Center'},
 {'area_code': '06', 'community_name': 'Lake View'},
 {'area_code': '07', 'community_name': 'Lincoln Park'},
 {'area_code': '08', 'community_name': 'Near North Side'},
 {'area_code': '09', 'community_name': 'Edison Park'},
 {'area_code': '10', 'community_name': 'Norwood Park'},
 {'area_code': '11', 'community_name': 'Jefferson Park'},
 {'area_code': '12', 'community_name': 'Forest Glen'},
 {'area_code': '13', 'community_name': 'North Park'},
 {'area_code': '14', 'community_name': 'Albany Park'},
 {'area_code': '15', 'community_name': 'Portage Park'},
 {'area_code': '16', 'community_name': 'Irving Park'},
 {'area_code': '17', 'community_name': 'Dunning'},
 {'area_code': '18', 'community_name': 'Montclare'},
 {'area_code': '19', 'community_name': 'Belmont Cragin'},
 {'area_code': '20', 'community_name': 'Hermosa'},
 {'area_code': '21', 'community_name': 'Avondale'},
 {'area_code': '22', 'community_name': 'Logan Square'},
 {'area_code': '23', 'community_name': 'Humboldt Park'},
 {'area_code': '24', 'community_name': 'West Town'},
 {'area_code': '25', 'community_name': 'Austin'},
 {'area_code': '26', 'community_name': 'West Garfield Park'},
 {'area_code': '27', 'community_name': 'East Garfield Park'},
 {'area_code': '28', 'community_name': 'Near West Side'},
 {'area_code': '29', 'community_name': 'North Lawndale'},
 {'area_code': '30', 'community_name': 'South Lawndale'},
 {'area_code': '31', 'community_name': 'Lower West Side'},
 {'area_code': '32', 'community_name': 'Loop'},
 {'area_code': '33', 'community_name': 'Near South Side'},
 {'area_code': '34', 'community_name': 'Armour Square'},
 {'area_code': '35', 'community_name': 'Douglas'},
 {'area_code': '36', 'community_name': 'Oakland'},
 {'area_code': '37', 'community_name': 'Fuller Park'},
 {'area_code': '38', 'community_name': 'Grand Boulevard'},
 {'area_code': '39', 'community_name': 'Kenwood'},
 {'area_code': '40', 'community_name': 'Washington Park'},
 {'area_code': '41', 'community_name': 'Hyde Park'},
 {'area_code': '42', 'community_name': 'Woodlawn'},
 {'area_code': '43', 'community_name': 'South Shore'},
 {'area_code': '44', 'community_name': 'Chatham'},
 {'area_code': '45', 'community_name': 'Avalon Park'},
 {'area_code': '46', 'community_name': 'South Chicago'},
 {'area_code': '47', 'community_name': 'Burnside'},
 {'area_code': '48', 'community_name': 'Calumet Heights'},
 {'area_code': '49', 'community_name': 'Roseland'},
 {'area_code': '50', 'community_name': 'Pullman'},
 {'area_code': '51', 'community_name': 'South Deering'},
 {'area_code': '52', 'community_name': 'East Side'},
 {'area_code': '53', 'community_name': 'West Pullman'},
 {'area_code': '54', 'community_name': 'Riverdale'},
 {'area_code': '55', 'community_name': 'Hegewisch'},
 {'area_code': '56', 'community_name': 'Garfield Ridge'},
 {'area_code': '57', 'community_name': 'Archer Heights'},
 {'area_code': '58', 'community_name': 'Brighton Park'},
 {'area_code': '59', 'community_name': 'McKinley Park'},
 {'area_code': '60', 'community_name': 'Bridgeport'},
 {'area_code': '61', 'community_name': 'New City'},
 {'area_code': '62', 'community_name': 'West Elsdon'},
 {'area_code': '63', 'community_name': 'Gage Park'},
 {'area_code': '64', 'community_name': 'Clearing'},
 {'area_code': '65', 'community_name': 'West Lawn'},
 {'area_code': '66', 'community_name': 'Chicago Lawn'},
 {'area_code': '67', 'community_name': 'West Englewood'},
 {'area_code': '68', 'community_name': 'Englewood'},
 {'area_code': '69', 'community_name': 'Greater Grand Crossing'},
 {'area_code': '70', 'community_name': 'Ashburn'},
 {'area_code': '71', 'community_name': 'Auburn Gresham'},
 {'area_code': '72', 'community_name': 'Beverly'},
 {'area_code': '73', 'community_name': 'Washington Heights'},
 {'area_code': '74', 'community_name': 'Mount Greenwood'},
 {'area_code': '75', 'community_name': 'Morgan Park'},
 {'area_code': '76', 'community_name': "O'Hare"},
 {'area_code': '77', 'community_name': 'Edgewater'}]

In [26]:
community_areas = pd.DataFrame(data)

community_areas["area_code"] = community_areas["area_code"].astype("int")

community_areas

    area_code      community_name
0           1         Rogers Park
1           2          West Ridge
2           3              Uptown
3           4      Lincoln Square
4           5        North Center
..        ...                 ...
72         73  Washington Heights
73         74     Mount Greenwood
74         75         Morgan Park
75         76              O'Hare
76         77           Edgewater

[77 rows x 2 columns]

In [27]:
community_areas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area_code       77 non-null     int32
 1   community_name  77 non-null     object
dtypes: int32(1), object(1)
memory usage: 1.0+ KB

In [29]:
community_areas.to_csv("./../../data/csv/community_areas_master.csv", index = False)